USE [master]
GO
/****** Object:  Database [KioscoDB]    Script Date: 02/09/2025 13:56:40 ******/
CREATE DATABASE [KioscoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KioscoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIGITALARS\MSSQL\DATA\KioscoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KioscoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIGITALARS\MSSQL\DATA\KioscoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KioscoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KioscoDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CajaMovimientos]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CajaMovimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[tipo] [nvarchar](max) NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_venta] [int] NULL,
	[id_pago_fiado] [int] NULL,
 CONSTRAINT [PK_CajaMovimientos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[estado] [bit] NOT NULL,
	[imagen] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[telefono] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[activo] [bit] NOT NULL,
	[deuda] [decimal](18, 2) NOT NULL,
	[fecha_alta] [datetime2](7) NULL,
	[fecha_baja] [datetime2](7) NULL,
	[observaciones] [nvarchar](max) NULL,
	[direccion] [nvarchar](max) NULL,
	[tipo_cliente] [nvarchar](max) NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[Observaciones] [nvarchar](max) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleMovimientoInterno]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMovimientoInterno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[preciocosto] [decimal](18, 2) NOT NULL,
	[id_movimientointerno] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
 CONSTRAINT [PK_DetalleMovimientoInterno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVenta]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_venta] [int] NOT NULL,
 CONSTRAINT [PK_DetallesVenta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosInternos]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInternos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[cantidad] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
 CONSTRAINT [PK_MovimientosInternos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosStock]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosStock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[tipo] [nvarchar](max) NOT NULL,
	[observacion] [nvarchar](max) NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_movimientointerno] [int] NULL,
	[id_venta] [int] NULL,
 CONSTRAINT [PK_MovimientosStock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosFiado]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosFiado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[Cuentaid] [int] NULL,
 CONSTRAINT [PK_PagosFiado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[acceso] [nvarchar](450) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreciosProducto]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreciosProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_desde] [datetime2](7) NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_PreciosProducto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[precio_costo] [decimal](18, 2) NOT NULL,
	[margen_porcentaje] [decimal](18, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[stock_minimo] [int] NOT NULL,
	[codigo_barra] [bigint] NOT NULL,
	[estado] [bit] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[telefono] [nvarchar](max) NOT NULL,
	[CBU] [nvarchar](max) NOT NULL,
	[deuda] [int] NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[direccion] [nvarchar](max) NOT NULL,
	[activo] [bit] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreComercio] [nvarchar](max) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NULL,
	[impuestos] [decimal](18, 2) NULL,
	[metodoPago] [nvarchar](max) NULL,
	[numeroTransaccion] [nvarchar](max) NULL,
	[id_venta] [int] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[usuario] [nvarchar](450) NOT NULL,
	[activo] [bit] NOT NULL,
	[rol] [nvarchar](max) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 02/09/2025 13:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[tipo_venta] [nvarchar](max) NOT NULL,
	[saldo_pendiente] [decimal](18, 2) NOT NULL,
	[fecha_pago_pactado] [datetime2](7) NULL,
	[ajustar_precio_al_pago] [bit] NULL,
	[observaciones] [nvarchar](max) NULL,
	[estado] [nvarchar](max) NULL,
	[id_cliente] [int] NULL,
	[id_cuenta] [int] NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CajaMovimientos_id_pago_fiado]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_CajaMovimientos_id_pago_fiado] ON [dbo].[CajaMovimientos]
(
	[id_pago_fiado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CajaMovimientos_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_CajaMovimientos_id_usuario] ON [dbo].[CajaMovimientos]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CajaMovimientos_id_venta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_CajaMovimientos_id_venta] ON [dbo].[CajaMovimientos]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_id_usuario] ON [dbo].[Clientes]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuentas_id_cliente]    Script Date: 02/09/2025 13:56:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cuentas_id_cliente] ON [dbo].[Cuentas]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuentas_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Cuentas_id_usuario] ON [dbo].[Cuentas]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleMovimientoInterno_id_movimientointerno]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleMovimientoInterno_id_movimientointerno] ON [dbo].[DetalleMovimientoInterno]
(
	[id_movimientointerno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleMovimientoInterno_id_producto]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleMovimientoInterno_id_producto] ON [dbo].[DetalleMovimientoInterno]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesVenta_id_producto]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_DetallesVenta_id_producto] ON [dbo].[DetallesVenta]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesVenta_id_venta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_DetallesVenta_id_venta] ON [dbo].[DetallesVenta]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosInternos_id_producto]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosInternos_id_producto] ON [dbo].[MovimientosInternos]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosInternos_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosInternos_id_usuario] ON [dbo].[MovimientosInternos]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_id_movimientointerno]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_id_movimientointerno] ON [dbo].[MovimientosStock]
(
	[id_movimientointerno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_id_producto]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_id_producto] ON [dbo].[MovimientosStock]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_id_usuario] ON [dbo].[MovimientosStock]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_id_venta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_id_venta] ON [dbo].[MovimientosStock]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosFiado_Cuentaid]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PagosFiado_Cuentaid] ON [dbo].[PagosFiado]
(
	[Cuentaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosFiado_id_cliente]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PagosFiado_id_cliente] ON [dbo].[PagosFiado]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosFiado_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PagosFiado_id_usuario] ON [dbo].[PagosFiado]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagosFiado_id_venta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PagosFiado_id_venta] ON [dbo].[PagosFiado]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreciosProducto_id_categoria]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PreciosProducto_id_categoria] ON [dbo].[PreciosProducto]
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreciosProducto_id_producto]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PreciosProducto_id_producto] ON [dbo].[PreciosProducto]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreciosProducto_id_proveedor]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_PreciosProducto_id_proveedor] ON [dbo].[PreciosProducto]
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_id_categoria]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_id_categoria] ON [dbo].[Productos]
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_id_proveedor]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_id_proveedor] ON [dbo].[Productos]
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_id_venta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tickets_id_venta] ON [dbo].[Tickets]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_usuario] ON [dbo].[Usuarios]
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_id_cliente]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_id_cliente] ON [dbo].[Ventas]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_id_cuenta]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_id_cuenta] ON [dbo].[Ventas]
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_id_usuario]    Script Date: 02/09/2025 13:56:40 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_id_usuario] ON [dbo].[Ventas]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CajaMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_CajaMovimientos_PagosFiado_id_pago_fiado] FOREIGN KEY([id_pago_fiado])
REFERENCES [dbo].[PagosFiado] ([id])
GO
ALTER TABLE [dbo].[CajaMovimientos] CHECK CONSTRAINT [FK_CajaMovimientos_PagosFiado_id_pago_fiado]
GO
ALTER TABLE [dbo].[CajaMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_CajaMovimientos_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[CajaMovimientos] CHECK CONSTRAINT [FK_CajaMovimientos_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[CajaMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_CajaMovimientos_Ventas_id_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[CajaMovimientos] CHECK CONSTRAINT [FK_CajaMovimientos_Ventas_id_venta]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Clientes_id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Clientes_id_cliente]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[DetalleMovimientoInterno]  WITH CHECK ADD  CONSTRAINT [FK_DetalleMovimientoInterno_MovimientosInternos_id_movimientointerno] FOREIGN KEY([id_movimientointerno])
REFERENCES [dbo].[MovimientosInternos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleMovimientoInterno] CHECK CONSTRAINT [FK_DetalleMovimientoInterno_MovimientosInternos_id_movimientointerno]
GO
ALTER TABLE [dbo].[DetalleMovimientoInterno]  WITH CHECK ADD  CONSTRAINT [FK_DetalleMovimientoInterno_Productos_id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleMovimientoInterno] CHECK CONSTRAINT [FK_DetalleMovimientoInterno_Productos_id_producto]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetallesVenta_Productos_id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [FK_DetallesVenta_Productos_id_producto]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetallesVenta_Ventas_id_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [FK_DetallesVenta_Ventas_id_venta]
GO
ALTER TABLE [dbo].[MovimientosInternos]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInternos_Productos_id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[MovimientosInternos] CHECK CONSTRAINT [FK_MovimientosInternos_Productos_id_producto]
GO
ALTER TABLE [dbo].[MovimientosInternos]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInternos_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[MovimientosInternos] CHECK CONSTRAINT [FK_MovimientosInternos_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosStock_MovimientosInternos_id_movimientointerno] FOREIGN KEY([id_movimientointerno])
REFERENCES [dbo].[MovimientosInternos] ([id])
GO
ALTER TABLE [dbo].[MovimientosStock] CHECK CONSTRAINT [FK_MovimientosStock_MovimientosInternos_id_movimientointerno]
GO
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosStock_Productos_id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovimientosStock] CHECK CONSTRAINT [FK_MovimientosStock_Productos_id_producto]
GO
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosStock_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[MovimientosStock] CHECK CONSTRAINT [FK_MovimientosStock_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosStock_Ventas_id_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[MovimientosStock] CHECK CONSTRAINT [FK_MovimientosStock_Ventas_id_venta]
GO
ALTER TABLE [dbo].[PagosFiado]  WITH CHECK ADD  CONSTRAINT [FK_PagosFiado_Clientes_id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[PagosFiado] CHECK CONSTRAINT [FK_PagosFiado_Clientes_id_cliente]
GO
ALTER TABLE [dbo].[PagosFiado]  WITH CHECK ADD  CONSTRAINT [FK_PagosFiado_Cuentas_Cuentaid] FOREIGN KEY([Cuentaid])
REFERENCES [dbo].[Cuentas] ([id])
GO
ALTER TABLE [dbo].[PagosFiado] CHECK CONSTRAINT [FK_PagosFiado_Cuentas_Cuentaid]
GO
ALTER TABLE [dbo].[PagosFiado]  WITH CHECK ADD  CONSTRAINT [FK_PagosFiado_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PagosFiado] CHECK CONSTRAINT [FK_PagosFiado_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[PagosFiado]  WITH CHECK ADD  CONSTRAINT [FK_PagosFiado_Ventas_id_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[PagosFiado] CHECK CONSTRAINT [FK_PagosFiado_Ventas_id_venta]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [FK_Permisos_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [FK_Permisos_Usuarios_id_usuario]
GO
ALTER TABLE [dbo].[PreciosProducto]  WITH CHECK ADD  CONSTRAINT [FK_PreciosProducto_Categorias_id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreciosProducto] CHECK CONSTRAINT [FK_PreciosProducto_Categorias_id_categoria]
GO
ALTER TABLE [dbo].[PreciosProducto]  WITH CHECK ADD  CONSTRAINT [FK_PreciosProducto_Productos_id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreciosProducto] CHECK CONSTRAINT [FK_PreciosProducto_Productos_id_producto]
GO
ALTER TABLE [dbo].[PreciosProducto]  WITH CHECK ADD  CONSTRAINT [FK_PreciosProducto_Proveedores_id_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreciosProducto] CHECK CONSTRAINT [FK_PreciosProducto_Proveedores_id_proveedor]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias_id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias_id_categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores_id_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores_id_proveedor]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Ventas_id_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Ventas_id_venta]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes_id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes_id_cliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cuentas_id_cuenta] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[Cuentas] ([id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cuentas_id_cuenta]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios_id_usuario]
GO
USE [master]
GO
